WirelessCommunicationNetworks/in.txt
[{"id":"63e478c5.b6cbf8","type":"inject","z":"276c631c.cc15c4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":198.5,"y":266,"wires":[["c837a6a0.b6a5a8"]]},{"id":"c837a6a0.b6a5a8","type":"oM2M-ONE-Application","z":"276c631c.cc15c4","xN_CSE":"63a50dd5.9fe634","NM":"17cacb7e.8fbaad","obixType":"NetworkApplication","obixCategory":"Demo","obixLocation":"cloud","obiNMnnounce":false,"x":432.5,"y":266,"wires":[["6b259e23.cdf2"]]},{"id":"83f030f7.64cb98","type":"debug","z":"276c631c.cc15c4","name":"","active":true,"console":"false","complete":"false","x":856.5,"y":265,"wires":[]},{"id":"6b259e23.cdf2","type":"http request","z":"276c631c.cc15c4","name":"","method":"POST","ret":"txt","url":"","tls":"","x":653.5,"y":264,"wires":[["83f030f7.64cb98"]]},{"id":"4cd379b1.7e842","type":"inject","z":"276c631c.cc15c4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":192.5,"y":380,"wires":[["34701cdd.70fecc"]]},{"id":"34701cdd.70fecc","type":"oM2M-ONE-Subscription","z":"276c631c.cc15c4","xN_CSE":"3a36f2c.b13d88e","NM":"a808cfa2.ea7b5","contactPath":"http://localhost:1880/notification","CNT":"DATA","filterType":"","filterCriteria":"content","x":451.5,"y":385,"wires":[["a09d743d.30647"]]},{"id":"a09d743d.30647","type":"http request","z":"276c631c.cc15c4","name":"","method":"POST","ret":"txt","url":"","tls":"","x":670.5,"y":377,"wires":[["c23af4a7.474aa8"]]},{"id":"c23af4a7.474aa8","type":"debug","z":"276c631c.cc15c4","name":"","active":true,"console":"false","complete":"false","x":872.5,"y":374,"wires":[]},{"id":"79538491.bc14ac","type":"http in","z":"276c631c.cc15c4","name":"Listen to HTTP post notifications","url":"/notification","method":"post","swaggerDoc":"","x":231.5,"y":521,"wires":[["244aad4.47684d2","41840c31.11ec8c"]]},{"id":"244aad4.47684d2","type":"xml","z":"276c631c.cc15c4","name":"","attr":"","chr":"","x":472.5,"y":519,"wires":[["549f56b5.4493b8"]]},{"id":"41840c31.11ec8c","type":"http response","z":"276c631c.cc15c4","name":"Notification Response","x":530.5,"y":581,"wires":[]},{"id":"549f56b5.4493b8","type":"function","z":"276c631c.cc15c4","name":"Extract Data from XML","func":"var notification = msg.payload['m2m:sgn'];\nvar nev = notification['nev'][0];\nvar rep = nev['rep'][0];\nvar con = rep['con'][0];\nmsg.payload = con;\nreturn msg;\n","outputs":1,"noerr":0,"x":665.5,"y":502,"wires":[["60ad89.83dc5a78","2f18abd4.f09e64"]]},{"id":"2f18abd4.f09e64","type":"debug","z":"276c631c.cc15c4","name":"","active":true,"console":"false","complete":"false","x":879,"y":505,"wires":[]},{"id":"60ad89.83dc5a78","type":"file","z":"276c631c.cc15c4","name":"","filename":"/home/iotclass/notification.xml","appendNewline":true,"createDir":false,"overwriteFile":"true","x":970.5,"y":579,"wires":[]},{"id":"e95da4b8.868428","type":"http in","z":"276c631c.cc15c4","name":"Read XML File via HTTP GET","url":"/notification","method":"get","swaggerDoc":"","x":254,"y":686,"wires":[["88b6708f.5193b"]]},{"id":"88b6708f.5193b","type":"file in","z":"276c631c.cc15c4","name":"","filename":"/home/iotclass/notification.xml","format":"utf8","x":581.5,"y":680,"wires":[["d8f81f64.04819"]]},{"id":"d8f81f64.04819","type":"xml","z":"276c631c.cc15c4","name":"","attr":"","chr":"","x":808.5,"y":677,"wires":[["f7016f66.a4f3e8"]]},{"id":"f7016f66.a4f3e8","type":"http response","z":"276c631c.cc15c4","name":"","x":986.5,"y":679,"wires":[]},{"id":"6bb5229d.7b4d4c","type":"http in","z":"276c631c.cc15c4","name":" HTTP GET","url":"/locations","method":"get","swaggerDoc":"","x":203,"y":773,"wires":[["e96f691b.9fff1"]]},{"id":"e96f691b.9fff1","type":"file in","z":"276c631c.cc15c4","name":"","filename":"/home/iotclass/notification.xml","format":"utf8","x":471,"y":781,"wires":[["2d387e33.c523e2"]]},{"id":"2d387e33.c523e2","type":"xml","z":"276c631c.cc15c4","name":"","attr":"","chr":"","x":743,"y":782,"wires":[["b57f7475.8d7af8"]]},{"id":"b57f7475.8d7af8","type":"json","z":"276c631c.cc15c4","name":"","x":897.5,"y":786,"wires":[["d7bed293.902538"]]},{"id":"7714c27e.4f256c","type":"http response","z":"276c631c.cc15c4","name":"","x":1351,"y":831,"wires":[]},{"id":"8de28c2e.a90af8","type":"debug","z":"276c631c.cc15c4","name":"","active":true,"console":"false","complete":"false","x":1325,"y":781,"wires":[]},{"id":"d7bed293.902538","type":"function","z":"276c631c.cc15c4","name":"Parse XML JSON","func":"var data = JSON.parse(msg.payload);\nvar object1 = data.obj;\nvar integer1 = object1.int;\n\nvar tres = integer1[0];\nvar tres_$ = tres.$;\nvar phone = tres_$.val;\n\n\nmsg.payload = {\n            \"data\":phone\n            };\nreturn msg;\n","outputs":1,"noerr":0,"x":1108.5,"y":788,"wires":[["8de28c2e.a90af8","7714c27e.4f256c"]]},{"id":"63a50dd5.9fe634","type":"xN_CSE","z":"276c631c.cc15c4","sclId":"in-cse","host":"localhost","port":"8080","baseUrl":"~"},{"id":"17cacb7e.8fbaad","type":"NM","z":"276c631c.cc15c4","appId":"MY_NETWORK_APPLICATION","contactUrl":"localhost:1880"},{"id":"3a36f2c.b13d88e","type":"xN_CSE","z":"276c631c.cc15c4","sclId":"mn-cse","host":"localhost","port":"8282","baseUrl":"~"},{"id":"a808cfa2.ea7b5","type":"NM","z":"276c631c.cc15c4","appId":"MN_PHONE","contactUrl":"localhost:1880"}]