WirelessCommunicationNetworks/mn.txt
[{"id":"1a3ce5eb.570882","type":"inject","z":"3e56dcfa.20363c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":162.5,"y":371,"wires":[["5ff0f79e.5542d8"]]},{"id":"5ff0f79e.5542d8","type":"oM2M-ONE-Application","z":"3e56dcfa.20363c","xN_CSE":"c772170b.0b652","NM":"22cd4b72.f898b4","obixType":"phone","obixCategory":"demo","obixLocation":"phonelist","obiNMnnounce":true,"x":381.5,"y":371,"wires":[["13bd4a4e.6ff78e"]]},{"id":"13bd4a4e.6ff78e","type":"http request","z":"3e56dcfa.20363c","name":"","method":"POST","ret":"txt","url":"","tls":"","x":605.5,"y":371,"wires":[["8a105f.41584fa"]]},{"id":"8a105f.41584fa","type":"debug","z":"3e56dcfa.20363c","name":"","active":true,"console":"false","complete":"payload","x":821.5,"y":371,"wires":[]},{"id":"d6d6f135.c3065","type":"inject","z":"3e56dcfa.20363c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160.5,"y":474,"wires":[["764c8e7f.49ef7"]]},{"id":"764c8e7f.49ef7","type":"oM2M-ONE-Descriptor-Container","z":"3e56dcfa.20363c","xN_CSE":"c772170b.0b652","NM":"22cd4b72.f898b4","x":434.5,"y":473,"wires":[["f7130ecd.fb0208"]]},{"id":"f7130ecd.fb0208","type":"http request","z":"3e56dcfa.20363c","name":"","method":"POST","ret":"txt","url":"","tls":"","x":681.5,"y":473,"wires":[["3dd4c18b.f2f12e"]]},{"id":"3dd4c18b.f2f12e","type":"debug","z":"3e56dcfa.20363c","name":"","active":true,"console":"false","complete":"false","x":857.5,"y":473,"wires":[]},{"id":"5d6c2b75.7f71bc","type":"oM2M-ONE-Descriptor-ContentInstance","z":"3e56dcfa.20363c","xN_CSE":"c772170b.0b652","NM":"22cd4b72.f898b4","obixType":"phone","obixLocation":"phonelist","x":440.5,"y":560,"wires":[["567e13fb.2b425c"]]},{"id":"567e13fb.2b425c","type":"http request","z":"3e56dcfa.20363c","name":"","method":"POST","ret":"txt","url":"","tls":"","x":694.5,"y":559,"wires":[["30450cac.ba773c"]]},{"id":"30450cac.ba773c","type":"debug","z":"3e56dcfa.20363c","name":"","active":true,"console":"false","complete":"payload","x":861.5,"y":559,"wires":[]},{"id":"df85ff5d.82c4e8","type":"inject","z":"3e56dcfa.20363c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":159.5,"y":562,"wires":[["5d6c2b75.7f71bc"]]},{"id":"1a6712c1.b4dbfd","type":"inject","z":"3e56dcfa.20363c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":162.5,"y":641,"wires":[["682b410c.da7dd8"]]},{"id":"682b410c.da7dd8","type":"oM2M-ONE-Data-Container","z":"3e56dcfa.20363c","xN_CSE":"c772170b.0b652","NM":"22cd4b72.f898b4","maxNrOfInstances":"15","obiNMnnounce":false,"x":415.5,"y":641,"wires":[["2ea45bd9.f5c97c"]]},{"id":"2ea45bd9.f5c97c","type":"http request","z":"3e56dcfa.20363c","name":"","method":"POST","ret":"txt","url":"","tls":"","x":666.5,"y":642,"wires":[["65aef648.bee128"]]},{"id":"65aef648.bee128","type":"debug","z":"3e56dcfa.20363c","name":"","active":true,"console":"false","complete":"false","x":858.5,"y":642,"wires":[]},{"id":"ff933ba3.3bd4a8","type":"inject","z":"3e56dcfa.20363c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":157.5,"y":724,"wires":[["74ffb8bd.de1938"]]},{"id":"74ffb8bd.de1938","type":"function","z":"3e56dcfa.20363c","name":"My Data","func":"var data = {\n    type:'string',\n    unit:'float',\n    data :'0923141445'\n};\nmsg.payload = JSON.stringify(data);\nreturn msg;\n","outputs":1,"noerr":0,"x":307.5,"y":724,"wires":[["a6d92572.acc658"]]},{"id":"a6d92572.acc658","type":"oM2M-ONE-Data-ContentInstance","z":"3e56dcfa.20363c","xN_CSE":"c772170b.0b652","NM":"22cd4b72.f898b4","obixCategory":"demo","x":525.5,"y":724,"wires":[["8f7cfe74.95a2f8"]]},{"id":"8f7cfe74.95a2f8","type":"http request","z":"3e56dcfa.20363c","name":"","method":"POST","ret":"txt","url":"","tls":"","x":774.5,"y":724,"wires":[["2bc76fdd.3dd1d"]]},{"id":"2bc76fdd.3dd1d","type":"debug","z":"3e56dcfa.20363c","name":"","active":true,"console":"false","complete":"false","x":942.5,"y":724,"wires":[]},{"id":"9c0fe2c3.a653f8","type":"http in","z":"3e56dcfa.20363c","name":"POST DATA","url":"/phoneData","method":"post","swaggerDoc":"","x":143.5,"y":809,"wires":[["94b2188f.6edf48","57f54067.0f384"]]},{"id":"94b2188f.6edf48","type":"http response","z":"3e56dcfa.20363c","name":"Http Response","x":329.5,"y":895,"wires":[]},{"id":"57f54067.0f384","type":"function","z":"3e56dcfa.20363c","name":"InputData","func":"var data = {\n    type:'string',\n    unit:'float',\n    data: msg.payload.data\n};\nmsg.payload = JSON.stringify(data);\nreturn msg;\n","outputs":1,"noerr":0,"x":349.5,"y":808,"wires":[["934aa3d.592bc6"]]},{"id":"934aa3d.592bc6","type":"oM2M-ONE-Data-ContentInstance","z":"3e56dcfa.20363c","xN_CSE":"c772170b.0b652","NM":"22cd4b72.f898b4","obixCategory":"","x":569.5,"y":808,"wires":[["b475276f.fb50e"]]},{"id":"b475276f.fb50e","type":"http request","z":"3e56dcfa.20363c","name":"","method":"POST","ret":"txt","url":"","tls":"","x":807.5,"y":808,"wires":[["87eb3dc9.8d3db8"]]},{"id":"87eb3dc9.8d3db8","type":"debug","z":"3e56dcfa.20363c","name":"","active":true,"console":"false","complete":"false","x":1011.5,"y":808,"wires":[]},{"id":"c772170b.0b652","type":"xN_CSE","z":"3e56dcfa.20363c","sclId":"mn-cse","host":"localhost","port":"8282","baseUrl":"~"},{"id":"22cd4b72.f898b4","type":"NM","z":"3e56dcfa.20363c","appId":"MN_PHONE","contactUrl":"localhost:1880"}]